$menu-header__height: 3.5rem;

.menu {
  position: fixed;
  top: $main__padding;
  left: $main__padding;
  width: $menu__width;
  font-size: 1.4rem;

  @include pageWidth(lg) {
    width: $menu__width--lg;
  }

  .card-body {
    max-height: calc(100vh - 3*#{$main__padding} - #{$menu-header__height} - 3rem);
  }
}
