$side-menu__width: 30rem;
$side-menu-header__height: 6rem;

.side-menu {
  width: 100%;
  max-width: $side-menu__width;
  position: fixed;
  margin-left: -$side-menu__width;
  height: 100vh;
  top: 0;
  z-index: $main__z-index;
  background-color: $color__bg;
  border-right: 1px solid $color__border;
  transition: margin-left $side-menu__transition-time;

  &--active {
    margin-left: 0;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 1rem;
    height: $side-menu-header__height;
    background-color: $color__main;
    color: $color__text--light;
  }

  &__title-container {
    display: flex;
    align-items: center;
  }

  &__title {
    font-size: 1.6rem;
  }

  &__title-icon {
    height: 2.6rem;
    margin-right: .5rem;
  }

  &__close-container {
    // padding: .5rem 1rem;
    margin-left: auto;
  }

  &__content {
    padding: 1rem;
    height: calc(100vh - #{$side-menu-header__height});
    overflow-y: auto;
  }

}
