$side-menu__width: 30rem;
$side-menu-header__height: 6rem;

.side-menu {
  width: 100%;
  max-width: $side-menu__width;
  position: fixed;
  margin-left: -$side-menu__width;
  height: 100vh;
  top: 0;
  z-index: $side-menu__z-index;
  background-color: $color__bg;
  border-right: 1px solid $color__border;
  transition: margin-left $side-menu__transition-time;

  &--active {
    margin-left: 0;
  }

  .card-header {
    height: 5rem;
  }
}
