.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: background-color $side-menu__transition-time;

  &--active {
    background-color: rgba(0, 0, 0, .5);
  }

  &--z-index {
    z-index: $backdrop__z-index;
  }
}
