.badge-button {

    &__wrapper {
        position: relative;
    }

    &__btn {
        color: $color__text--light;
        font-size: 1.8rem;
        width: 100%;
        height: 100%;
    }

    &__icon {
        position: absolute;
        bottom: -.5rem;
        right: -.5rem; 
        z-index: $main__z-index + 1;
    }
}