.card {
    border: 0;

    &-header {
        background-color: $color__main;
        color: $color__text--light;
        display: flex;
        align-items: center;
        height: $search-bar__height;
    }

    &-body {
        padding: 0;
        overflow: auto;
    }

    &-header-text {
        margin-right: auto;
    }

    &-header-close {
        margin-left: 1rem;
        font-size: 1.8rem;
        padding: .5rem;
        cursor: pointer;

        &:hover {
            transform: scale(1.2); 
            transition: all .2s;
        }
    }
}