.features-list {

    &__item.enter {
        opacity: 0;
    }

    &__item.enter-active {
        animation: slideIn .2s;
    }

    &__item-icon {
        margin-right: .5rem;
    }

    &__item-address {
        display: block;
        margin-left: 1.8rem;
    }

    &__empty {
        padding: 1rem;
        background-color: $color__bg;
    }
}



