$color__white: hsl(255, 255, 255);

$color__black--20: hsl(0, 0, 20);
$color__black--26: hsl(0, 0, 26);

$color__grey--40: hsl(0, 0, 40);
$color__grey--83: hsl(0, 0, 83);
$color__grey--96: hsl(0, 0, 96);

$color__blue--50: hsl(211,100, 50);


$color__text: $color__black--26;
$color__text--light: $color__white;

$color__bg: $color__white;
$color__bg--light: $color__grey--83;

$color__border: $color__grey--40;

$color__main: $color__blue--50;
