$color__white: hsl(255, 255, 255);

$color__black--20: hsl(0, 0, 20);
$color__black--26: hsl(0, 0, 26);

$color__grey--83: hsl(0, 0, 83);


$color__text: $color__black--26;

$color__bg: $color__white;
$color__bg--light: $color__grey--83;