$main__padding: 1rem;

$search-bar__height: 3.5rem;

$border__radius: .2rem;

$side-menu__transition-time: .4s;

$menu__width: 20rem;
$menu__width--lg: 30rem;


$main__z-index: 1000;
$backdrop__z-index: 1.5*$main__z-index;
$side-menu__z-index: 2*$main__z-index;