html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', Verdana, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background-color: $color__bg;
  color: $color__text;
}

ul, ol {
  margin: 0;
  padding: 0;
}

p {
  // margin: 0;
}



